body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccdbf4af;
    color: #004d74;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.nav{
    height: 4vw;
    width: 100%;
    background-color: #90baf3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.logo{
    height: 3.7vw;
    width: 9vw;
    margin-left: 3vw;
    background-image: url("fin-logo1.png");
    background-size: cover;
    background-position: center;

}
.back{
    margin-right: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}
.hero{
    height: 32vw;
    width: 100%;
    display: flex;
    align-items: center;
}
.left{
    height: 35vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9vw;
}
.right{
    height: 30vw;
    width: 40%;
    background-image: url("stress.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-top: 9vw;
}
.left h1{
    padding-top: 4vw;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #395886;
  font-size: 3.5vw;
  padding-left: 2vw;
}
.left p{
    padding-left: 13vw;
    padding-right: 5vw;
    line-height: 1.4vw;
    text-align: left;
}
.para p{
    padding-left: 13vw;
    padding-right: 33vw;
    line-height: 1.6vw;
    font-size: 1.1vw;
    text-align:left;
}
.para{
    height: 25vw;
    background-color: #ccdbf4af;
    display: flex;
    align-items:center ;
}

.cause{
    height: 30vw;
    width: 100%;
    display: flex;
    padding-top: 4vw;
}
.cause-l{
    height: 40vw;
    width: 60%;
}
.cause-l h1,p{
    padding-left: 15vw;
    padding-right: 5vw;
}
.cause-l ul{
    padding-left: 18vw;
    font-size: 1vw;
}

.cause-l p{
    font-size: 1.1vw;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #395886;
    line-height: 1.5vw;
}
.cause-l h1{
    font-size: 3.2vw;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #395886;
}
.cause-r{
    height: 40vw;
    width: 40%;
    background-image: url("stress1.png");
    background-repeat: no-repeat;
    background-size: 20vw;
}

.prob{
    height: 30vw;
    width: 100%;
    background-color: #ccdbf4af;
    line-height: 1.4vw;
    padding-top: 2vw;
}
.prob h1{
    padding-left: 15vw;
    padding-top: 3vw;
    font-size: 3.2vw;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #395886;
}
#p{
    padding-right: 36vw;
    padding-left:17vw;
    font-size: 1vw;
}
.prob ul{
    padding-left: 19vw;
    font-size: 1vw;
}
.privacy{
    height: 4vw;
    width: 100vw;
    /* border: 2px solid green; */
    background-color: #284575d3;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0vw;
    margin-top: 4vw;
    color: rgb(183, 224, 244);
  }
  
  .privacy-con{
    height: 3vw;
    width: 25vw;
    font-size: 0.8vw;
  }
  button{
    height: 2.5vw;
    width: 6vw;
    font-size: 1.2vw;
    background-color: #678fcc;
    border:0.1vh solid rgb(147, 147, 176);
    border-radius:0.2vw ;
    box-shadow: 10px 5px 10px rgba(31, 43, 73, 0.373);
    color: rgb(200, 207, 219);
    transition: all 0.3s ease;
    font-weight: 900;
  }
  button:hover{
    transform: scale(1.1);
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(31, 43, 73, 0.557);
  }
  .content-container {
    background-color: #ccdbf4af;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding-left: 7vw;
}


.subheading {

    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #395886;
  font-size: 3vw;
  padding-left: 6vw;
}

.paragraph {
    line-height: 1.6;
    color: #666;
    padding-left: 5vw;
}

.list {
    list-style-type: none;
    padding: 0;
    padding-left: 9vw;
    padding-right: 30vw;
    text-align:left;
}

.list-item {
    margin-bottom: 10px;
    line-height: 1.6;
}

.list-item strong {
    color: #333;
}