body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("back1.jpg");
  }
  
  .navbar {
    width: 100%;
    background-color: #e6f5ff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 3.5vw;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw 0 3vw;
  }
  
  .logo {
    width:9vw;
    height:3.7vw;
    background-image: url("fin-logo1.png");
    background-size: cover;
    background-position: center;
  }
  
  .navbar-heading {
    color: #202c5a;
    font-size: 24px;
    margin: 0;
  }
  
  .home-button {
    background-color: #004d40;
    color: white;
    border: none;
    height: 2.5vw;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #00251a;
    transform: scale(1.05);
  }
  
  .container {
    background-color: #dcf1ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.429);
    text-align: center;
    max-width: 700px;
    width: 90%;
    margin-top: 10vw;
  }

  
  h1 {
    color: #00796b;
    margin-bottom: 20px;
    
  }
  
  
  h2{
    color: #005d8c;

  }
  .question {
    display: none; /* Initially hide questions */
    text-align: left;
    padding-left:2vw ;
  }
  
  .question label {
    display: block;
    margin-top: 10px;
    font-size: 1.2vw;
    color: #364e70;
  }
  
  .question input[type="radio"] {
    transform: scale(1.8);
    margin-right: 10px;
    font-size: 2vw;
  }
  

  .button {
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
  }
  
  .button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button:hover::before {
    width: 250%;
  }
  
  
  .message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
    display: none;
  }
  
  .privacy{
    height: 4vw;
    width: 100vw;
    /* border: 2px solid green; */
    background-color: #485b7ad3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0vw;
  }
  
  .privacy-con{
    height: 3vw;
    width: 25vw;
    font-size: 0.8vw;
  }
  
  #tell{
    text-transform:uppercase;
    color: rgb(0, 92, 128);
    font-size: 2.3vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border:2px solid rgb(24, 55, 121);
    padding: 1.6vw;
    border-radius: 2vw;
    margin-top: -0.2vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.176);
  }